div{

}

span{
     color: rebeccapurple;
}

.center1{
     text-align: center;
}

.foto1{
     width: 400;
     height: 450;
}

.foto2{
     width: 400;
     height: 450;
}

   