div{

}

span{
     color: rebeccapurple;
}

.center1{
     text-align: center;
}

.foto1{
     width: 700px;
     height: 500px;
}

.foto2{
     width: 700px;
     height: 500px;
}

   